@import url("https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Space+Grotesk:wght@300..700&display=swap");

* {
  font-family: "Comic Relief", system-ui;
  --accent: #2472c8;
  --text: #ececec;
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #101010;
  overflow: hidden;
}

#roobiks {
  display: block;
  overflow-y: hidden;
}
.content {
  display: none;
}

@media (orientation: portrait) {
  #roobiks {
    overflow-x: hidden;
  }
}

.btns {
  z-index: 99;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 20px;
  left: 20px;
}
.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(4px);
  display: none;
  z-index: 15;
}

.popup {
  position: fixed;
  top: 275px;
  left: 400px;
  transform: translate(-50%, -50%);
  z-index: 20;
  background-color: rgb(25, 25, 25);
  height: 500px;
  width: 500px;
  border-radius: 50px;
  padding: 1em;

  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 40px 1fr;
  gap: 10px;

  transition: 0.5s ease-in-out;
  /* animation: pop-out 1s ease-in-out; */
}
@keyframes pop-out {
  0% {
    opacity: 1;
  }

  30% {
    transform: scale(1.05);
    transform: translate(-50%, -50%);
  }

  100% {
    transform: scale(0);
    transform: translate(-50%, -50%);
    opacity: 0;
  }
}

.pop-out {
  animation: pop-out 0.3s ease-in forwards;
  transform-origin: center;
}

.popup > * {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  font-size: 1.5rem;
  background-color: red;
  border: 10px solid red;
  color: white;
}
.content-popup {
  grid-row: 2/3;
  grid-column: 1/-1;
  overflow-y: auto;
}

button {
  border: 1px solid var(--accent);
  border-radius: 10px;
  background-color: transparent;
  color: var(--text);
  margin: 5px;
  padding: 7px;
  transform: translate(0, 0);
  box-shadow: 0 0 0 var(--secondary);
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

button:hover {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 0 var(--accent);
}

.btn-alt {
  border: 3px solid var(--accent);
  background-color: transparent;
  border-radius: 6px;
  padding: 0.7rem 1rem;
  font-size: 1.3rem;
}
