html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #101010;
  overflow: hidden;
}

#roobiks {
  display: block;
  overflow-y: hidden;
}
.content {
  display: none;
}

@media (orientation: portrait) {
  #roobiks {
    overflow-x: hidden;
  }
}

.btns {
  z-index: 99;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 20px;
  left: 20px;
}
